<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.cloudAndPurchasing"
          android:versionCode="1"
          android:versionName="1.0.0">
    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="19" />
    <permission
            android:name="com.example.cloudAndPurchasing.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.example.cloudAndPurchasing.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="ANDROID.PERMISSION.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.vibrate"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application android:label="@string/app_name"
                 android:name="com.example.cloudAndPurchasing.LocationApplication"
                 android:icon="@drawable/ic_launcher"
            >
        <activity android:name=".ActivityCartoon"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.activitycloud.activityinstall.ActivityUs"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait"
                >

        </activity>
        <activity android:name=".activity.activityshopping.ActivityPastPublish"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name="MyActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                >
        </activity>
        <activity android:name=".activity.activitycloud.activityfriend.ActivtiyMyFriend"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".activity.activitymain.ActivityCloudRoom"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                >

        </activity>
        <activity android:name=".activity.activitymain.ActivityRD"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitymain.ActivityRotaryTable"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".activity.activitymain.ActivitySingle"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityloadsingleup.ActivitySigleUp"
                  android:launchMode="singleTask"
                android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                >

        </activity>
        <activity android:name=".activity.activityloadsingleup.ActivityLoding"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityloadsingleup.ActivityTalk"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityloadsingleup.ActivityForget"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityloadsingleup.ActivityAlterpass"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityloadsingleup.ActivityVerity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.ActivityIntegral"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.ActivityRecharge"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activitynew.ActivityAsk"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activityfriend.ActivityFriend"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activitynew.ActivityNews"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activitynew.ActivityNewFriend"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activitythis.ActivityThisInformation"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activitythis.ActivityAddress"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activitythis.ActivityAddAddress"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".activity.activitycloud.ActivityCloudRecord"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.ActivityWinningRecord"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.ActivityPublish"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activityhelp.ActivityHelp"
                android:theme="@android:style/Theme.NoTitleBar"
                android:exported="true"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activityhelp.ActivityIdea"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.photo.ActivitySurce"
                android:theme="@android:style/Theme.NoTitleBar"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|adjustPan"
                ></activity>
        <activity android:name=".activity.activitycloud.ActivityConvert"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activityinstall.ActivityInstall"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".activity.activitycloud.ChooseActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activityinstall.ActivityChangePassword"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityshoppingcat.ActivityIndent"
                android:theme="@android:style/Theme.NoTitleBar"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityshoppingcat.ActivityPay"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitycloud.activityfriend.ActivityAddFriend"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.activitycloud.activityfriend.ActivitySelectNearby"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.ActivityShoppingdetail"
                android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitysurpired.ActivityCount"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitysurpired.ActivityShoppingTimeDetail"
                  android:launchMode="singleTop"
                android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitysurpired.ActivityInframeText"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitysurpired.ActivityOldTimey"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitysurpired.ActivityRecord"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitymain.ActivityAddGoods"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitymain.ActivityCreateRoom"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitymain.ActivityEach"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".activity.activitymain.ActivityInvite"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activitysurpired.ActivityShareDetail"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityshopping.ActivityGoodsDateil"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar"
                ></activity>
        <activity android:name=".activity.activitymain.ActivityCity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|adjustPan">
        </activity>
        <activity android:name=".activity.activitycloud.photo.AlbumActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.photo.GalleryActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.photo.ImageFile"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.photo.ShowAllPhoto"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.activitythis.ActivityLevel"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitysurpired.ActivityReply"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activityshopping.ActivityShoppingEach"
                android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="adjustResize|adjustPan"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activityshopping.ActivityShoppingdata"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.activitythis.ActivityUpdate"
                android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="adjustResize|adjustPan"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.activityinstall.ActivitySetting"
                android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="adjustResize|adjustPan"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.activityinstall.ActivityNewNotice"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"

                />
        <activity android:name=".activity.activitycloud.activityinstall.ActivityAddWe"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity android:name=".activity.activitycloud.ActivityMA"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"
                />
        <activity
                android:name="com.pingplusplus.android.PaymentActivity"
                android:configChanges="orientation|screenSize"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 -->
        <activity-alias
                android:name=".wxapi.WXPayEntryActivity"
                android:exported="true"
                android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind" />
        <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind" />
        <!--fenxiang-->
        <activity
                android:name="com.umeng.socialize.editorpage.ShareActivity"
                android:theme="@style/Theme.UMDefault"
                android:excludeFromRecents="true"/>
        <activity
                android:name=".activity.activityloadsingleup.weixin.WXEntryActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
                android:name=".activity.activityloadsingleup.qqloading.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
                android:name=".activity.activityloadsingleup.weibo.WBShareActivity"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                android:configChanges="keyboardHidden|orientation"
                android:windowSoftInputMode="adjustResize"
                android:exported="false" >
        </activity>
        <service
                android:name="com.sina.weibo.sdk.net.DownloadService"
                android:exported="false">
        </service>

        <service android:name=".MyLocationService"/>
        <service android:name=".service.VersionService"/>
        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="IGrwTr3135afx6quMHdGqmyM465womLt" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <!--极光推送-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <!--<activity-->
                <!--android:name="cn.jpush.android.ui.PopWinActivity"-->
                <!--android:theme="@style/MyDialogStyle"-->
                <!--android:exported="false">-->
        <!--</activity>-->
        <!--<activity-->
                <!--android:name="cn.jpush.android.ui.PushActivity"-->
                <!--android:configChanges="orientation|keyboardHidden"-->
                <!--android:theme="@android:style/Theme.NoTitleBar"-->
                <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.example.cloudAndPurchasing" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; Required  SDK核心功能&ndash;&gt;-->
        <!--<service-->
                <!--android:name="cn.jpush.android.service.DownloadService"-->
                <!--android:enabled="true"-->
                <!--android:exported="false" >-->
        <!--</service>-->


        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 可配置android:process参数将PushService放在其他进程中 &ndash;&gt;-->
        <!--<service-->
                <!--android:name="cn.jpush.android.service.PushService"-->
                <!--android:enabled="true"-->
                <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
                <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
                <!--<action android:name="cn.jpush.android.intent.PushService" />-->
                <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 &ndash;&gt;-->
        <!--&lt;!&ndash; 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 &ndash;&gt;-->
        <!--<service-->
                <!--android:name="cn.jpush.android.service.DaemonService"-->
                <!--android:enabled="true"-->
                <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="com.example.cloudAndPurchasing" />-->
            <!--</intent-filter>-->

        <!--</service>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver-->
                <!--android:name="cn.jpush.android.service.PushReceiver"-->
                <!--android:enabled="true"-->
                <!--android:exported="false">-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   &lt;!&ndash;Required  显示通知栏 &ndash;&gt;-->
                <!--<category android:name="com.example.cloudAndPurchasing" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Optional &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->

        <!--</receiver>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>-->

        <!--&lt;!&ndash; User defined.  For test only  用户自定义的广播接收器&ndash;&gt;-->
        <!--<receiver-->
                <!--android:name=".service.JpushReceiver"-->
                <!--android:exported="false"-->
                <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.UNREGISTRATION" />-->
                <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> &lt;!&ndash;Optional 用户接受Rich Push Javascript 回调函数的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
                <!--<category android:name="com.example.cloudAndPurchasing" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="cfe1632608db1c13609e2b2e" />-->
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="57a1b56a67e58e5b360016d8"
                >
        </meta-data>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="Umeng" >
        </meta-data>
    </application>
</manifest>